In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
## Load CSV (overall)
path_from = "raw_data/full_data_clean.csv"
df = pd.read_csv(path_from, delimiter=',', low_memory=False, encoding = 'utf-8')

In [7]:
df = df.drop(columns=['Unnamed: 0', 'Pickup Time Start Time of Day','Pickup Time End Time of Day', 'Date', 'Count Ratings', 'Declared Supply', 'Meals Saved','Total Supply', 'Avg Rating Overall', 'Pickup Length', 'Supply Length'])

In [10]:
df.head(1)

,Store ID,Item ID,Store Category,Store Segment,Store Region,City,Item Price,Region Language,Region Type,lat,lng
0,11344,11438,Key Account,Bakery,Genève,Genève,4.5,french,urban,46.211672,6.134562

In [9]:
## Load CSV (overall)
path_from = "raw_data/ZIP_Groups_man.csv"
zip = pd.read_csv(path_from, delimiter=',', low_memory=False, encoding = 'utf-8')
df = df.merge(zip, left_on='Store ID', right_on='Store ID', how='left')

In [13]:
df = df.groupby('Store ID').agg({'Item ID': 'max', 'Store Category': 'max','Store Segment': 'max','Store Region': 'max', 'City': 'max', 'Item Price': 'mean', 'Region Language': 'max', 'Region Type': 'max', 'lat': 'mean', 'lng': 'mean'})

In [18]:
df.head()

,Item ID,Store Category,Store Segment,Store Region,City,Item Price,Region Language,Region Type,lat,lng
Store ID,,,,,,,,,,
35,34,Indie - Outbound,Bakery,Vaud,Salavaux,6.9,french,urban,46.918363,7.022345
57,73,Indie - Outbound,Bakery,Freiburg,Sâles,6.9,french,urban,46.641510,7.062369
58,337173,Indie - Outbound,Bakery,Freiburg,Ursy,4.9,french,urban,46.637755,6.843907
61,79,Indie - Outbound,Traditional Restaurant,Vaud,Lausanne,6.9,french,urban,46.531848,6.638594
62,78,Indie - Outbound,Traditional Restaurant,Bern,Bern,5.9,german,urban,46.907301,7.490900

In [19]:
df.to_csv('raw_data/cluster_data_clean_latlng.csv')